@font-face {
	font-family: 'Cafe24ClassicType-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-CoreDream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}
::selection{
  background-color: rgba(137, 212, 255, 0.6);
  color: #000;
}
.sr_only {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	border: 0px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}
.classicFont {
	font-family: 'Cafe24ClassicType-Regular', serif;
}

body {
	color: #fff;
	font-family: 'S-CoreDream', sans-serif;
}
#wrap {
	height: 100vh;
}
header {
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 100;
	transition: left 0.5s;
}
.logo {
	position: relative;
	font-size: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	width: 180px;
}
.logo::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
	background-color: #79c2ed;
	z-index: -1;
}
header .headerBtn {
	/* display: none; */
	position: absolute;
	right: -36px;
	top: 0;
	width: 36px;
	height: 80px;
	background-color: #333;
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
header .headerBtn button {
	cursor: pointer;
}
header .headerBtn img {
	width: 30px;
}
header ul {
	display: flex;
	align-items: center;
}
header ul li {
	font-size: 20px;
	margin: 0 20px;
	line-height: 60px;
	color: #111;
	cursor: pointer;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
	header {
		left: -100%;
	}
	header.show {
		left: 0;
	}
	header.show .headerBtn {
		right: 0;
		transform: rotate(180deg);
	}
}
#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: #000;
}
.active {
	color: rgb(121, 194, 237);
}

.hide {
	display: none;
}

.mouseDown {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 10%;
	display: flex;
	justify-content: center;
	z-index: 100;
	animation: mouseDown 1.5s linear infinite;
}
.mouseDown img {
	width: 50px;
}
@keyframes mouseDown {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.cont {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	left: 0;
	transition: top 700ms;
}
#wrapper .cont.on {
	top: 0;
}
/*  */
#cont_1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	top: 0;
	background: #333;
}
#cont_1 h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
#cont_1 .svgWrap {
	position: relative;
}
#cont_1 .svgWrap::before {
	content: '';
	position: absolute;
	bottom: 20px;
	width: 0%;
	height: 60px;
	background-color: #79c2ed;
	z-index: 0;
	animation: highlight 3s ease-in-out 3s forwards;
}
@keyframes highlight {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
#cont_1 svg {
	width: 500px;
	position: relative;
	z-index: 1;
}
#cont_1 svg path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 600;
	opacity: 1;
	animation: ani_stroke 4s linear;
	box-shadow: 0 0 5px #fff;
}
@keyframes ani_stroke {
	0% {
		opacity: 0;
		stroke-dashoffset: 600;
		fill: rgba(255, 255, 255, 0.2);
	}
	30% {
		opacity: 1;
		stroke-dashoffset: 500;
		fill: rgba(255, 255, 255, 0.5);
	}
	90% {
		stroke-dashoffset: 300;
		fill: rgba(255, 255, 255, 0.8);
	}
	100% {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}

/*  */
#cont_2 {
	top: 100%;
	background: #333;

	display: flex;
	align-items: center;
	justify-content: center;
}
#cont_2 .about {
	width: 70vw;
}
#cont_2 h3 {
	display: inline-block;
	font-size: 1.8rem;
	margin-bottom: 20px;
	position: relative;
}
#cont_2 h3::before {
	content: '';
	position: absolute;
	right: -30px;
	top: -10px;
	width: 20px;
	height: 20px;
	background: url('../img/star.svg') no-repeat center center / cover;
	animation: star 1s linear infinite forwards;
}
@keyframes star {
	0% {
		transform: scale(0.3) rotate(90deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}
#cont_2 p {
	font-size: 1.3rem;
}
#cont_2 .about_me {
	margin-bottom: 45px;
}
#cont_2 .about_me p {
	margin-bottom: 16px;
}
#cont_2 .skill_list {
	display: flex;
	flex-wrap: wrap;
}
#cont_2 .skill_list li {
	text-align: center;
	margin: 20px;
}
#cont_2 .skill_list img {
	width: 100%;
	max-width: 60px;
}

#cont_3 {
	top: 100%;
	background: #333;
}

#slider {
	display: flex;
	align-items: flex-start;
	position: absolute;
	height: 300px;
	top: calc(50% - 150px);
	left: 10vw;
	transition: transform 0.3s;
}
#slider::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
	left: 0;
	top: calc(50% - 5px);
	background-color: #79c2ed;
	z-index: -1;
	border-radius: 5px;
}
#slider li {
	position: relative;
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	height: 100%;
	cursor: pointer;
	aspect-ratio: 1/1;
	margin: 0 200px 0 0;
	transition: transform 0.2s;
}

#slider li .workBg {
	z-index: 5;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100%;
}

.work_title {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	color: #fff;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity .5s;
}
#slider li:hover .work_title {
	opacity: 1;
}
.work_title strong {
	display: inline-block;
	font-size: 1.5rem;
	margin-bottom: 10px;
}
#slider li > .workBg::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#cont_3 #slider li:nth-child(1) .workBg {
	background-image: url('../img/tiretech.png');
}
#cont_3 #slider li:nth-child(2) .workBg {
	background-image: url('../img/zepeto.png');
}
#cont_3 #slider li:nth-child(3) .workBg {
	background-image: url('../img/osteria.png');
}
#cont_3 #slider li:nth-child(4) .workBg {
	background-image: url('../img/bootstrap_site.png');
}
#cont_3 #slider li:nth-child(5) .workBg {
	background-image: url('../img/yes24.png');
}
#cont_3 #slider li:nth-child(6) .workBg {
	background-image: url('../img/chat.png');
	background-position: center 48%;
}
#cont_3 #slider li:nth-child(7) .workBg {
	background-image: url('../img/todo_react.png');
	background-position: center 48%;
}
#cont_3 #slider li:nth-child(8) .workBg {
	background-image: url('../img/netflix.png');
}
#cont_3 #slider li:nth-child(9) .workBg {
	background-image: url('../img/VueTodo.png');
}

.colorDot {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	background: rgba(137, 212, 255, 0.6);
	border-radius: 50%;
	transform: scale(0.1);
	transition: all 0.8s;
	z-index: 100;
}

#indicator {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	width: 80%;
	height: 8px;
	background: #333;
	border-radius: 4px;
	overflow: hidden;
}

#indi_bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 105%;
	width: 100%;
	background: rgba(255, 196, 164, 0.6);
	clip-path: polygon(0% 0%, 10px 0%, 10px 100%, 0% 100%);
	transition: all 0.2s;
}

#cont_4 {
	top: 100%;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cont_4 .contactWrap {
	display: flex;
	width: 80%;
	justify-content: center;
}
.contactWrap > div {
	width: 50%;
}
.contactTitle {
	padding: 20px;
	margin-right: 5vw;
	text-align: center;
}
.contactTitle h2 {
	font-size: 2.3rem;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.contactTitle a {
	font-size: 0.8rem;
	opacity: 0.5;
	letter-spacing: 1px;
}
.mailForm {
	padding: 10px;
}
.mailForm fieldset {
	border: none;
}
.mailForm input,
.mailForm textarea {
	background-color: transparent;
	width: 100%;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	outline: none;
	color: #fff;
	font-size: 1.1rem;
	font-family: 'S-CoreDream', sans-serif;
}
.mailForm input:focus,
.mailForm textarea:focus {
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.mailForm textarea {
	resize: none;
}
.formlist .btn_box {
	text-align: right;
}
.mailForm button {
	color: rgba(255, 255, 255, 0.3);
	font-family: 'S-CoreDream', sans-serif;
	font-size: 1.2rem;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition: 0.3s;
}
.mailForm button:hover {
	border-color: #fff;
	color: #fff;
}

.thankyou_message {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: none;
}
.thankyou_message section {
	position: absolute;
	width: 500px;
	background-color: #333;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.thankyou_message section h1 {
	color: #777;
	font-size: 1.5rem;
	padding-bottom: 20px;
}
.thankyou_message section p {
	font-size: 17px;
	color: #aaa;
	padding-bottom: 10px;
}
.thankyou_message section .btn_box {
	padding-top: 10px;
	text-align: right;
}
.thankyou_message section .btn_box a {
	display: inline-block;
	padding: 4px 12px;
	background-color: #333;
	color: #aaa;
	border-radius: 4px;
	font-size: 17px;
	border: 1px solid #888;
}

/* Work Popup */
.pop_bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding: 60px 50px 0;
	z-index: 1000;
	background-color: #333;
	color: #fff;
	overflow-y: auto;
}
.pop_bg .layerClose{
	position: absolute;
	left: 50%;top: 10px;
	width: 40px;height: 40px;
	transform: translateX(-50%);
	border-radius: 8px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}
.pop_bg .layerClose img{
	width: 30px;height: 30px;
}
.pop-work .head{
	height: 40vh;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	animation: bgAni 20s linear infinite;
	position: relative;
	border-radius: 20px;
} 
.project1 .head{
	background-image: url('../img/tiretech.png');
	animation-duration: 16s;
}
.project2 .head{
	background-image: url('../img/zepeto.png');
	animation-duration: 24s;
}
.project3 .head{
	background-image: url('../img/osteria.png');
}
.project4 .head{
	background-image: url('../img/bootstrap_site.png');
}
.project5 .head{
	background-image: url('../img/yes24.png');
	animation-duration: 25s;
	background-size: auto;
}
.project6 .head{
	background-image: url('../img/chat.png');
	animation-duration: 6s;
	background-size: auto;
}
.project7 .head{
	background-image: url('../img/todo_react.png');
	animation-duration: 4s;
	background-size: auto;
}
.project8 .head{
	background-image: url('../img/netflix.png');
	animation-duration: 13s;
}
.project9 .head{
	background-image: url('../img/VueTodo.png');
	animation-duration: 8s;
	background-size: auto;
}

.pop-work .head::before{
	content: "";
	position: absolute;
	width: 100%;height: 100%;
	background-image: linear-gradient(rgba(51, 51, 51,.5), #333);
}
@keyframes bgAni {
	0%{
		background-position: 50% 0;
	}
	50%{
		background-position: 50% 100%;
	}
	100%{
		background-position: 50% 0;
	}
}
.pop-work .head strong{
	font-size: 2.5rem;
	position: absolute;
	width: 100%;
	bottom: 15%;
	text-align: center;
} 
.pop-work .desc{
	height: 50vh;
	width: 50vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}
.pop-work .desc strong{
	font-size: 1.6rem;
}
.pop-work .WorkLink{
	margin-top: 10px;
	font-size: 0;
}
.pop-work .WorkLink a{
	display: inline-block;
	position: relative;
	font-size: 1.1rem;
	width: 100px;
	padding: 10px 0;
	border: 1px solid #fff;
	margin-right: 20px;
	opacity: .3;
	transition: .5s;
}
.pop-work .WorkLink a:last-child{
	margin-right: 0;
}
.pop-work .WorkLink a::after{
	content: "";
	position: absolute;
	width: 0%;height: 100%;
	top: 0;left: 0;
	background-color: rgba(137, 212, 255, 0.3);
	transition: .5s;
}
.pop-work .WorkLink a:hover{
	opacity: 1;
	border-radius: 6px;
}
.pop-work .WorkLink a:hover::after{
	width: 100%;
}
.pop-work .text{
	word-break: keep-all;
	line-height: 1.5;
	font-size: 1.2rem;
}
.work_skill_list{
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.work_skill_list li{
	width: 60px;height: 60px;
	background-size: cover;
}
.work_skill_list li:nth-child(1){
	background-image: url('../img/html5.png');
}
.work_skill_list li:nth-child(2){
	background-image: url('../img/css3.png');
}
.work_skill_list li:nth-child(3){
	background-image: url("../img/javascript.png");
}
.work_skill_list li:nth-child(4){
	background-image: url("../img/jquery.png");
}
.work_skill_list.list3 li:nth-child(4){
	background-image: url("../img/jquery.png");
}
.work_skill_list.list3 li:nth-child(5){
	background-image: url("../img/figma.png");
}
.work_skill_list.list4 li:nth-child(4){
	background-image: url("../img/jquery.png");
}
.work_skill_list.list4 li:nth-child(5){
	background-image: url("../img/bootstrap.png");
}
.work_skill_list.list5 li:nth-child(5){
	background-image: url("../img/figma.png");
}
.work_skill_list.list6 li:nth-child(5){
	background-image: url("../img/firebase.png");
}
.work_skill_list.list7 li:nth-child(3){
	background-image: url("../img/react.png");
}
.work_skill_list.list8 li:nth-child(3){
	background-image: url("../img/react.png");
}
.work_skill_list.list8 li:nth-child(4){
	background-image: url("../img/redux.png");
}
.work_skill_list.list8 li:nth-child(5){
	background-image: url("../img/sass.png");
}
.work_skill_list.list9 li:nth-child(3){
	background-image: url("../img/Vue.png");
}

