@font-face {
	font-family: 'Cafe24ClassicType-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Jeju Myeongjo';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot');
	src: url('https://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('https://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2')
			format('woff2'),
		url('https://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff')
			format('woff'),
		url('https://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf')
			format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.sr_only {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	border: 0px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}
.classicFont {
	font-family: 'Cafe24ClassicType-Regular', serif;
}
.notoSerif {
	font-family: 'Jeju Myeongjo', serif;
}

body {
	color: #fff;
}
#wrap {
	height: 100vh;
}
header {
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 100;
	transition: left 0.5s;
}
.logo {
	position: relative;
	font-size: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	width: 180px;
}
.logo::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
	background-color: #79c2ed;
	z-index: -1;
}
header .headerBtn{
	/* display: none; */
	position: absolute;
	right: -36px;
	top: 0;
	width: 36px;
	height: 80px;
	background-color: #333;
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
header .headerBtn button{
	cursor: pointer;
}
header .headerBtn img{
	width: 30px;
}
header ul {
	display: flex;
	align-items: center;
}
header ul li {
	font-size: 20px;
	margin: 0 20px;
	line-height: 60px;
	color: #111;
	cursor: pointer;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
	header {
		left: -100%;
	}
	header.show {
		left: 0;
	}
	header.show .headerBtn{
		right: 0;
		transform: rotate(180deg);
	}
}
#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: #000;
}
.active {
	color: rgb(121, 194, 237);
}

.hide {
	display: none;
}

.mouseDown {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 10%;
	display: flex;
	justify-content: center;
	z-index: 100;
	animation: mouseDown 1.5s linear infinite;
}
.mouseDown img {
	width: 50px;
}
@keyframes mouseDown {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.cont {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	left: 0;
	transition: top 700ms;
}
#wrapper .cont.on {
	top: 0;
}
/*  */
#cont_1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	top: 0;
	background: #333;
}
#cont_1 h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
#cont_1 .svgWrap {
	position: relative;
}
#cont_1 .svgWrap::before {
	content: '';
	position: absolute;
	bottom: 20px;
	width: 0%;
	height: 60px;
	background-color: #79c2ed;
	z-index: 0;
	animation: highlight 3s ease-in-out 3s forwards;
}
@keyframes highlight {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
#cont_1 svg {
	width: 500px;
	position: relative;
	z-index: 1;
}
#cont_1 svg path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 600;
	opacity: 1;
	animation: ani_stroke 4s linear;
	box-shadow: 0 0 5px #fff;
}
@keyframes ani_stroke {
	0% {
		opacity: 0;
		stroke-dashoffset: 600;
		fill: rgba(255, 255, 255, 0.2);
	}
	30% {
		opacity: 1;
		stroke-dashoffset: 500;
		fill: rgba(255, 255, 255, 0.5);
	}
	90% {
		stroke-dashoffset: 300;
		fill: rgba(255, 255, 255, 0.8);
	}
	100% {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}

/*  */
#cont_2 {
	top: 100%;
	background: #333;

	display: flex;
	align-items: center;
	justify-content: center;
}
#cont_2 .about {
	width: 70vw;
}
#cont_2 h3 {
	display: inline-block;
	font-size: 1.8rem;
	margin-bottom: 20px;
	position: relative;
}
#cont_2 h3::before {
	content: '';
	position: absolute;
	right: -30px;
	top: -10px;
	width: 20px;
	height: 20px;
	background: url('../img/star.svg') no-repeat center center / cover;
	animation: star 1s linear infinite forwards;
}
@keyframes star {
	0% {
		transform: scale(0.3) rotate(90deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}
#cont_2 p {
	font-size: 1.3rem;
}
#cont_2 .about_me {
	margin-bottom: 45px;
}
#cont_2 .about_me p {
	margin-bottom: 16px;
}
#cont_2 .skill_list {
	display: flex;
	flex-wrap: wrap;
}
#cont_2 .skill_list li {
	text-align: center;
	margin: 20px;
}
#cont_2 .skill_list img {
	width: 100%;
	max-width: 60px;
}

#cont_3 {
	/* top:0%; */
	top: 100%;
	background: #333;
}
#cont_4 {
	top: 100%;
	background-color: #333;
}
#slider {
	display: flex;
	align-items: flex-start;
	position: absolute;
	height: 300px;
	top: calc(50% - 150px);
	left: 10vw;
	/* background: #eee; */
	transition: transform 0.3s;
}
#slider::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
	left: 0;
	top: calc(50% - 5px);
	background-color: #79c2ed;
	z-index: -1;
	border-radius: 5px;
}
#slider li {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	height: 100%;
	cursor: pointer;
	aspect-ratio: 1/1;
	margin: 0 200px 0 0;
	transition: transform 0.2s;
	background-image: url('https://images.unsplash.com/photo-1671595063544-5c086e4b050f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=344&q=80');
	background-position: center center;
	background-size: cover;
}

#slider li div {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}

.colorDot {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	background: rgba(255, 196, 164, 0.6);
	border-radius: 50%;
	transform: scale(0.1);
	transition: all 0.8s;
	z-index: 100;
}

#indicator {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	width: 80%;
	height: 8px;
	background: #333;
	border-radius: 4px;
	overflow: hidden;
}

#indi_bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 105%;
	width: 100%;
	background: rgba(255, 196, 164, 0.6);
	clip-path: polygon(0% 0%, 10px 0%, 10px 100%, 0% 100%);
	transition: all 0.2s;
}

.pop_bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background-color: #fff;
	color: #333;
}
